<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbarStyle">
    <a class="navbar-brand" href="#">Food🍲Foodiee</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" class="ms-auto">
      <ul class="navbar-nav">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="🔍Search" aria-label="Search">
          </form>
        <li class="nav-item active">
          <a class="nav-link navHome" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link navHome" href="#">Book table</a>
        </li>

        <li class="nav-item">
          <a class="nav-link navHome" href="#">Orders</a>
        </li>

        <li class="nav-item">
            <a class="nav-link navHome" href="#">Help</a>
          </li>

          <li class="nav-item">
            <a class="nav-link navHome" href="#">Sign in</a>
          </li>
      </ul>

    </div>
  </nav>