<div class="row">
    <h3 class="banner">Login here</h3>
    <div class="Subbanner">&nbsp;&nbsp;New to FoodFoodiee? <a href="/register">Register</a> here</div>
    <div class="col-md-4"></div>
    <div class="col-md-4 formStyle">
        <h4 class="banner" style="margin-bottom: 50px;">Food🍲Foodiee</h4>
        <form>
            <div class="form-group">
                <label for="inputEmailPhone"><span class="text-danger">*</span> Email address</label>
                <input type="text" class="form-control" id="inputEmailPhone"
                    placeholder="Enter email-id or phone number">
            </div>
            <br/>
            <div class="form-group">
                <label for="exampleInputPassword1"><span class="text-danger">*</span> Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

            <div class="text-center btnStyle">
                <button type="submit" class="btn btn-primary btnStyle ">Register</button>
            </div>
        </form>
    </div>
</div>