<div class="offersStyle">
    <h2>Best offers for you !
        <h1 class="arrowStyle">
            <button (click)="scrollLeft()">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
            class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16" >
            <path
                d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg>
            </button>&nbsp;
        <button (click)="scrollRight()">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
            class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16" >
            <path
                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
        </svg>
        </button>
        </h1>

    </h2>
    <div class="row rowStyle"  #widgetsContent>
        <div class="card col-md-3 col-sm-3 col-lg-3 cardStyle" style="width: 18rem;"
            *ngFor='let in of [0,1,2,3,4,5,6];let i = index' >
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example </p>
                <a href="#" class="card-link">Card link</a>
            </div>
        </div>
    </div>

</div>